{% comment %} {% extends "base.html" %}

{% block title %}
Home page
{% endblock title %} {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    main {
        padding: 10px;
    }
</style>
<body>
    {% include "base.html" %}
    <main>
        <h2>Hello!</h2>
        <b><h3>I am Azeem khan and i am doing my assignment</h3></b>
        <p>Dynamic Content below</p>
        <p>Date/Time:{{our_date}}</p>
    </main>
</body>
</html>




